/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-comment,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-quote, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-comment,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-quote, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-comment,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-quote, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-comment,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-doctag,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-keyword,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-formula, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-doctag,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-keyword,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-formula, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-doctag,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-keyword,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-formula, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-doctag,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-keyword,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-formula {
  color: #c678dd;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-section,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-name,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-selector-tag,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-deletion,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-subst, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-section,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-name,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-selector-tag,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-deletion,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-subst, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-section,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-name,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-selector-tag,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-deletion,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-subst, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-section,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-name,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-selector-tag,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-deletion,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-subst {
  color: #e06c75;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-literal, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-literal, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-literal, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-literal {
  color: #56b6c2;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-string,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-regexp,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-addition,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-attribute,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-meta-string, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-string,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-regexp,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-addition,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-attribute,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-meta-string, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-string,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-regexp,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-addition,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-attribute,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-meta-string, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-string,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-regexp,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-addition,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-attribute,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-meta-string {
  color: #98c379;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-built_in,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-class .hljs-title, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-built_in,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-class .hljs-title, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-built_in,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-class .hljs-title, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-built_in,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-class .hljs-title {
  color: #e6c07b;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-template-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-type,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-selector-class,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-selector-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-selector-pseudo,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-number, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-template-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-type,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-selector-class,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-selector-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-selector-pseudo,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-number, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-template-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-type,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-selector-class,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-selector-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-selector-pseudo,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-number, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-template-variable,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-type,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-selector-class,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-selector-attr,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-selector-pseudo,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-number {
  color: #d19a66;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-symbol,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-bullet,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-link,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-meta,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-selector-id,
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-title, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-symbol,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-bullet,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-link,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-meta,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-selector-id,
.vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-title, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-symbol,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-bullet,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-link,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-meta,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-selector-id,
.vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-title, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-symbol,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-bullet,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-link,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-meta,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-selector-id,
.vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-title {
  color: #61aeee;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-emphasis, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-emphasis, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-emphasis, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-emphasis {
  font-style: italic;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-strong, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-strong, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-strong, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-strong {
  font-weight: bold;
}
.vscode-dark[data-vscode-theme-name="One Dark Pro Mix"] .hljs-link, .vscode-dark[data-vscode-theme-name="One Dark Pro Flat"] .hljs-link, .vscode-dark[data-vscode-theme-name="One Dark Pro Darker"] .hljs-link, .vscode-dark[data-vscode-theme-name="One Dark Pro"] .hljs-link {
  text-decoration: underline;
}
